body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #e0e0e0, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    text-align: center;
    max-width: 800px; /* Adicionei uma largura máxima */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px; /* Adicionei um padding para criar espaço */
}

.maintenance h1 {
    font-size: 2.8em;
    color: #2a9d8f;
    margin-bottom: 20px;
}

.maintenance p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 8px solid #2a9d8f;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.countdown {
    font-size: 1.3em;
    color: #777;
    margin: 20px 0;
}

a {
    color: #2a9d8f;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Adicionei estilos para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .maintenance h1 {
        font-size: 2.2em;
    }
    .maintenance p {
        font-size: 1em;
    }
    .countdown {
        font-size: 1em;
    }
}

/* Adicionei estilos para telas muito menores */
@media (max-width: 480px) {
    .container {
        padding: 5px;
    }
    .maintenance h1 {
        font-size: 1.8em;
    }
    .maintenance p {
        font-size: 0.8em;
    }
    .countdown {
        font-size: 0.8em;
    }
}